---
import "../styles/global.css";
import Navigation from "../components/Navigation";
---

<html lang="en" class="dark bg-background text-foreground">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Helpdesk Toolkit</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="/favicon.png" />
    </head>
    <body>
        <Navigation client:load />
    </body>
</html>
